<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Migration Workflow Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <php>
        <server name="DB_CONNECTION" value="pgsql"/>
        <server name="DB_HOST" value="127.0.0.1"/>
        <server name="DB_PORT" value="5432"/>
        <server name="DB_DATABASE" value="migration_workflow"/>
        <server name="DB_USERNAME" value="postgres"/>
        <server name="DB_PASSWORD" value="secret"/>
    </php>
</phpunit>
